<h1>Github Search</h1>

<input id="searchInput" placeholder="Repo name" />
<button id="search">Search</button>

<br />
<div id="result">

</div>

@section scripts{
    <script>
    $("#search").click(function () {
        var term = $("#searchInput").val();

   
        var req = $.get("/github/search", { term: term });

        req.done(function (data) {
            var $container = $("#result")
            $.each(data.Items, function (index, item) {
                var line = "<p>" + item.FullName + "</p>";
                $container.append(line);
            });
        })

    });
 </script>
}