<h1>Github Search</h1>

<input id="searchInput" placeholder="Repo name" />
<button id="search">Search</button>

@section scripts{
    <script>
    $("#search").click(function () {
        var term = $("#searchInput").val();

   
        var req = $.get("/github/search", { term: term });

        req.done(function (data) {
            debugger;
        })

    });
 </script>
}